.footer__copyright {
  font-weight: 400;
  font-style: normal;
  color: #545454;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 21.78px;
  }
}
